@charset "UTF-8";

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ec1115;
  --color-red-100: #c20a0d;
  --color-green: #1eac14;
  --color-green-100: #13830b;
  --color-yellow: #ffb229;
  --color-gray: #7f7f7f;
  --transition-normal: all 0.3s ease 0s;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 19px;
}

/*Обнуление*/

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--color-gray);
  font-size: 16px;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #000;
}

body.lock {
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1005px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* плавное изменение прозрачности  placeholder-а при фокусе */

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: var(--color-black);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 45px;
  padding-top: 25px;
}

h1 {
  color: inherit;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
}

h4 {
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

h5 {
  color: inherit;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.25;
}

h6 {
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
  height: 50px;
  font-size: 18px;
  border-radius: 100px;
  padding: 5px 28px;
}

.btn.btn-outline-white {
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

.btn.btn-outline-white:hover {
  background: var(--color-white);
  color: var(--color-green);
}

.btn.btn-outline-gray {
  border: 2px solid #2f2f2f;
  color: #2f2f2f;
}

.btn.btn-outline-gray:hover {
  background: #2f2f2f;
  color: var(--color-green);
}

.btn.btn-green {
  background: var(--color-green);
  color: var(--color-white);
}

.btn.btn-green:hover {
  background: var(--color-green-100);
}

.btn.btn-red {
  color: var(--color-white);
  background: var(--color-red);
}

.btn.btn-red:hover {
  background: var(--color-red-100);
}

.footer__block {
  border-top: 1px solid #2c2c2c;
  padding: 31px 0 44px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -12.5px;
}

.footer__left {
  padding: 12.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.footer__buttons .btn-green {
  padding-left: 34px;
  padding-right: 34px;
}

.footer__center {
  padding: 12.5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__right {
  padding: 12.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.footer__copy {
  color: rgba(127, 127, 127, 0.7);
  font-size: 14px;
  max-width: 237px;
}

.footer-menu {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 5px;
}

.footer-menu li a {
  color: var(--color-gray);
  font-size: 16px;
  display: inline-block;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.footer-menu li a:hover {
  color: var(--color-white);
}

.faq-block {
  margin-top: 45px;
  margin-bottom: 45px;
}

.faq-block:first-child {
  margin-top: 0;
}

.faq-block:last-child {
  margin-bottom: 0;
}

.faq-block__title {
  margin-bottom: 18px;
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.faq-block__item {
  border-radius: 20px;
  background: #191919;
}

.faq-block__item:not(:last-child) {
  margin-bottom: 8px;
}

.faq-block__item.active .faq-block__arrow svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq-block__top {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 12px 12px;
  color: var(--color-gray);
}

.faq-block__top:hover {
  color: var(--color-white);
}

.faq-block__arrow {
  color: inherit;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 17px;
  max-width: 100%;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-block__arrow svg {
  fill: currentColor;
  width: 13px;
  height: 13px;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.faq-block__name {
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.faq-block__body {
  display: none;
  padding: 0 12px 20px 39px;
  font-size: 15px;
  line-height: 1.33333;
  color: var(--color-gray);
}

.faq-block__body.active {
  display: block;
}

.detail-text {
  position: relative;
  color: var(--color-gray);
  font-size: 15px;
  line-height: 1.33333;
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 45px;
  border-top: 1px solid #2c2c2c;
}

.detail-text:first-child {
  margin-top: 0;
}

.detail-text:last-child {
  margin-bottom: 0;
}

.detail-text.active .detail-text__desc {
  max-height: none;
}

.detail-text.active .detail-text__desc:before {
  display: none;
}

.detail-text.active .detail-text__btn .btn span:first-child {
  display: none;
}

.detail-text.active .detail-text__btn .btn span:last-child {
  display: block;
}

.detail-text h2,
.detail-text h3,
.detail-text h4,
.detail-text h5,
.detail-text h6 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.detail-text h2:first-child,
.detail-text h3:first-child,
.detail-text h4:first-child,
.detail-text h5:first-child,
.detail-text h6:first-child {
  margin-top: 0;
}

.detail-text h2:last-child,
.detail-text h3:last-child,
.detail-text h4:last-child,
.detail-text h5:last-child,
.detail-text h6:last-child {
  margin-bottom: 0;
}

.detail-text p,
.detail-text ul,
.detail-text ol {
  margin-top: 15px;
  margin-bottom: 15px;
}

.detail-text p:first-child,
.detail-text ul:first-child,
.detail-text ol:first-child {
  margin-top: 0;
}

.detail-text p:last-child,
.detail-text ul:last-child,
.detail-text ol:last-child {
  margin-bottom: 0;
}

.detail-text li:not(:last-child) {
  margin-bottom: 5px;
}

.detail-text a {
  color: inherit;
  text-decoration: underline;
}

.detail-text a:hover {
  text-decoration: none;
}

.detail-text__desc {
  max-height: 507px;
  overflow: hidden;
  position: relative;
}

.detail-text__desc:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(76%, rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 76%, black 100%);
}

.detail-text__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.detail-text__btn .btn span:first-child {
  display: block;
}

.detail-text__btn .btn span:last-child {
  display: none;
}

.reviews-slider {
  position: relative;
  overflow: hidden;
  margin-top: 23px;
  margin-bottom: 33px;
}

.reviews-slider:first-child {
  margin-top: 0;
}

.reviews-slider:last-child {
  margin-bottom: 0;
}

.reviews-slider__item {
  border-radius: 20px;
  background: #191919;
  padding: 18px 21px 17px 18px;
}

.reviews-slider__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
}

.reviews-slider__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 56px;
  max-width: 100%;
  height: 56px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.reviews-slider__photo:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.reviews-slider__photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-slider__name {
  color: var(--color-gray);
  font-size: 15px;
  font-weight: 700;
}

.reviews-slider__text {
  margin-top: 7px;
  color: var(--color-gray);
  font-size: 14px;
}

.reviews-slider__pagination {
  margin-top: 14px;
}

.reviews-slider__pagination.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 10px;
}

.reviews-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 11px;
  max-width: 100%;
  height: 11px;
  border-radius: 50%;
  background: #3c3c3c;
  margin: 0;
  opacity: 1;
  cursor: pointer;
}

.reviews-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #968f8f;
}

.partners-sliders {
  margin-top: 45px;
  margin-bottom: 45px;
}

.partners-sliders:first-child {
  margin-top: 0;
}

.partners-sliders:last-child {
  margin-bottom: 0;
}

.partners-slider {
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  margin-bottom: 24px;
}

.partners-slider:first-child {
  margin-top: 0;
}

.partners-slider:last-child {
  margin-bottom: 0;
}

.partners-slider__wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
  /* вместо ease */
}

.partners-slider__slide {
  width: auto;
}

.partners-slider__logo {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.partners-slider__logo img {
  max-height: 100%;
  max-width: 100%;
}

.games-slider {
  position: relative;
  overflow: hidden;
  margin-top: 23px;
  margin-bottom: 23px;
}

.games-slider:first-child {
  margin-top: 0;
}

.games-slider:last-child {
  margin-bottom: 0;
}

.games-slider__slide {
  height: auto;
}

.games-slider__item {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  padding: 13.5px 13px 13.5px 16px;
  border-radius: 14px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 104, 194, 0.24)), to(rgba(195, 0, 202, 0.24)));
  background: linear-gradient(90deg, rgba(0, 104, 194, 0.24) 0%, rgba(195, 0, 202, 0.24) 100%);
}

.games-slider__item:hover .games-slider__overlay {
  opacity: 1;
  visibility: visible;
}

.games-slider__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 97px;
  max-width: 100%;
  display: block;
  height: 65px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.games-slider__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.games-slider__title {
  color: var(--color-green);
  font-size: 15px;
  font-weight: 900;
}

.games-slider__subtitle {
  color: #993080;
  font-size: 16px;
}

.games-slider__text {
  color: var(--color-white);
  font-size: 14px;
  margin-top: 5px;
}

.games-slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #2f0130;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  padding: 10px;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
  opacity: 0;
  visibility: hidden;
}

.games-slider__label {
  color: var(--color-white);
  font-size: 14px;
  padding: 9px 14px;
  border-radius: 10px;
  background: var(--color-red);
}

.games-slider__label-text {
  color: #957395;
  font-size: 14px;
}

.main-games {
  margin-top: 23px;
  margin-bottom: 23px;
}

.main-games:first-child {
  margin-top: 0;
}

.main-games:last-child {
  margin-bottom: 0;
}

.main-games__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}

.main-games__col {
  padding: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.333%;
  max-width: 100%;
}

.main-games__item {
  display: block;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.main-games__img {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 116.12903%;
}

.main-games__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.main-games__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-games__heading {
  color: #ddaa2b;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5625;
}

.main-games__number {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.04167;
  margin-bottom: 15px;
}

.main-games .btn {
  height: 40px;
  font-size: 16px;
  font-weight: 700;
}

.catalog-block {
  margin-top: 23px;
  margin-bottom: 23px;
}

.catalog-block:first-child {
  margin-top: 0;
}

.catalog-block:last-child {
  margin-bottom: 0;
}

.catalog-block__top {
  margin-bottom: 23px;
}

.catalog-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 -15px;
}

.catalog-block__left {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.catalog-block__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 5px;
}

.catalog-block__tag {
  color: var(--color-gray);
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px 15px;
  height: 34px;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.catalog-block__tag:hover {
  color: var(--color-white);
}

.catalog-block__tag.active {
  color: #afafaf;
  border-radius: 100px;
  background: #313131;
}

.catalog-block__right {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.catalog-block__text {
  color: var(--color-white);
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.catalog-block__text span {
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.games-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}

.games-list__col {
  padding: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
  max-width: 100%;
}

.games-list__item {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.games-list__item:hover .games-list__overlay {
  opacity: 1;
  visibility: visible;
}

.games-list__img {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 66.95652%;
}

.games-list__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.games-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 16px;
  padding: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
  opacity: 0;
  visibility: hidden;
}

.games-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games-list__icon svg {
  width: 58px;
  height: 58px;
}

.games-list__label {
  color: #9eaebe;
  font-size: 14px;
  border-radius: 8px;
  background: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3px 18px;
  height: 26px;
}

/* Свечение красным */

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(194, 10, 13, 0.6);
            box-shadow: 0 0 0 0 rgba(194, 10, 13, 0.6);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(194, 10, 13, 0);
            box-shadow: 0 0 0 20px rgba(194, 10, 13, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(194, 10, 13, 0);
            box-shadow: 0 0 0 0 rgba(194, 10, 13, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(194, 10, 13, 0.6);
            box-shadow: 0 0 0 0 rgba(194, 10, 13, 0.6);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(194, 10, 13, 0);
            box-shadow: 0 0 0 20px rgba(194, 10, 13, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(194, 10, 13, 0);
            box-shadow: 0 0 0 0 rgba(194, 10, 13, 0);
  }
}

/* Подпрыгивание */

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  60% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

.offer-block {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.offer-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offer-block__bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.offer-block__body {
  position: relative;
  z-index: 2;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.offer-block__box {
  padding: 55px 0 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.offer-block__title {
  color: var(--color-white);
}

.offer-block__text {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
  max-width: 415px;
}

.offer-block__btn {
  margin-top: 44px;
}

.offer-block__btn .btn {
  font-size: 20px;
  padding-left: 35px;
  padding-right: 35px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-animation: pulse 2.5s infinite, bounce 3s infinite;
          animation: pulse 2.5s infinite, bounce 3s infinite;
}

.offer-block__img img {
  max-width: 100%;
}

.header {
  padding: 18px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.header__left {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.header__center {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}

.header__right {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.logo {
  display: inline-block;
  max-width: 172px;
  max-height: 80px;
}

.logo img {
  max-width: 100%;
  max-height: 80px;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 10px;
}

.menu__link {
  display: inline-block;
  color: var(--color-gray);
  font-size: 16px;
  -webkit-transition: var(--transition-normal);
  transition: var(--transition-normal);
}

.menu__link:hover {
  color: var(--color-white);
}

.menu__link.active {
  color: var(--color-white);
}

@media (min-width: 991.98px) {
  .header__buttons .btn-green {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media (max-width: 991.98px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .footer__center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .reviews-slider {
    overflow: visible;
  }

  .partners-slider {
    overflow: visible;
  }

  .games-slider {
    overflow: visible;
  }

  .games-slider__slide {
    width: 226px;
  }

  .games-list__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.333%;
    max-width: 100%;
  }

  .header__row {
    margin: 0 -7.5px;
  }

  .header__left {
    padding: 0 7.5px;
  }

  .header__center {
    padding: 0 7.5px;
  }

  .header__right {
    padding: 0 7.5px;
  }

  .header__buttons {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .header__buttons .btn {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    max-width: 150px;
  }

  .menu__link {
    font-size: 15px;
  }
}

@media (max-width: 767.98px) {
  .fancybox-slide {
    padding: 30px 15px;
  }

  h1 {
    font-size: 28px;
  }

  .main-games__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    margin: -8px -15px;
    padding: 0 7px;
  }

  .main-games__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
  }

  .catalog-block__top {
    display: none;
  }

  .catalog-block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 20px;
  }

  .catalog-block__right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .catalog-block__text {
    text-align: left;
  }

  .games-list__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
  }

  .offer-block__img {
    display: none;
  }

  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
  }

  .header__center {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    display: none;
  }

  .header__right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu__body {
    display: block;
  }

  .menu__list {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }

  .menu__link {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .main-games__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 290px;
    max-width: 100%;
  }

  .offer-block {
    border-radius: 20px;
  }

  .offer-block__body {
    padding: 0 20px;
  }

  .offer-block__box {
    padding: 30px 0;
  }
}

@media (max-width: 479.98px) {
  h1 {
    font-size: 24px;
  }

  .games-list__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .offer-block__body {
    padding: 0 15px;
  }

  .offer-block__text {
    font-size: 15px;
  }

  .header__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }

  .header__center {
    margin-top: 15px;
  }

  .header__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .header__buttons .btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}